/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
}

/* ヘッダー */

.header {
  width: 100%;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せにする */
  position: fixed; /* 固定位置にする */
  top: 0;
  left: 0;
  z-index: 1000; /* 他のコンテンツの上に表示する */
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a,
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0056b3;
}

.username-content{
  display: flex;
  align-items: center;
  margin-left: auto; /* 右端に寄せる */
}

/* メインコンテンツがヘッダーに隠れないようにする */
body {
  padding-top: 50px; /* ヘッダーの高さに応じて調整 */
}

/* 地図のスタイル */
#map {
  width: 100%;
  height: calc(100vh - 50px); 
  position: relative;
  z-index: 0; /* 地図を背景に設定 */
}

.custom-infowindow {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
}
.image-modal {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}
.close-modal {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#map-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1; /* マップの上に表示 */
}

#map-controls .btn {
  display: block;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#map-controls .btn:hover {
  background-color: #0056b3;
}

.btn.kirikae {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5; /* 地図の上に表示 */
}
#map-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1; /* マップの上に表示 */
}

#map-controls .btn {
  display: block;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  font-weight: bold;
}

#map-controls .btn:hover {
  background-color: #0056b3;
}

/* フォームのスタイル */

#form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#form-container .field {
  margin-bottom: 15px;
}

#form-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

#form-container input[type="text"],
#form-container input[type="file"],
#form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

#form-container input[type="text"]:focus,
#form-container input[type="file"]:focus,
#form-container textarea:focus {
  border-color: #87CEFA; /* 水色 */
  outline: none;
  box-shadow: 0 0 5px rgba(135, 206, 250, 0.5);
}

#form-container .actions {
  text-align: right;
}

#form-container .actions button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#form-container .actions button:hover {
  background-color:  #0056b3;
}

#form-container .close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

#form-container .close-form:hover {
  color: #000;
}

/* カスタムインフォウィンドウのスタイル */
.custom-infowindow {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 300px;
  padding: 10px;
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  font-family: 'Noto Sans JP', sans-serif;
}

.custom-infowindow .close-custom-window {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.custom-infowindow .close-custom-window:hover {
  color: #000;
}

.custom-infowindow h3 {
  margin: 0 0 10px 0;
  color: #000;
}

.custom-infowindow p {
  margin: 0 0 10px 0;
}

.custom-infowindow img {
  border-radius: 5px;
}


#comment-section {
  margin-top: 20px;
}

#comment-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.comment-submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.comment-submit-button:hover {
  background-color: #0056b3;
}

.image-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* 新規投稿画面 */

body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 100%); /* 白の背景色 */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: #333;
}
.form-container {
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-top: 200px;
}
.field {
  margin-bottom: 15px;
}
.field label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
}
.field input[type="text"],
.field textarea,
.field input[type="file"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: #ffffff;
}
.field input[type="file"] {
  padding: 3px;
}
.actions {
  text-align: right;
}
.actions input[type="submit"] {
  background-color: #87CEFA; /* 濃い水色 */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.actions input[type="submit"]:hover {
  background-color: #87CEFA; /* さらに濃い水色 */
}

form input,
form textarea {
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}



/* プレビュー画像のスタイル */
.preview-image {
  max-width: 100%;  /* 画像の幅を100%に設定 */
  height: auto;    /* 高さを自動調整 */
  border-radius: 10px; /* 画像の角を丸くする */
  margin-top: 10px;    /* 上の余白を追加 */
}

/*マイページ*/
.profile-container {
  width: 90%; /* 幅を90%に設定して画面いっぱいに近づける */
  margin: 20px auto; /* トップマージンを80pxに設定してヘッダーと分離 */
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dfe3e6;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center; /* タイトルとアバターを中央揃えにする */
  border-bottom: 2px solid #007bff;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.profile-header h1 {
  margin: 0;
  color: #007bff;
}

.profile-header .title-underline {
  width: 100%;
  height: 2px;
  background-color: #007bff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.profile-avatar {
  margin: 20px auto; /* アバターを中央に配置 */
}

.profile-avatar img {
  width: auto;
  height: 150px; /* 高さを大きく設定 */
  max-width: 100%;
  border-radius: 50%; /* 丸くしたい場合はこの行を追加 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 画像に影を追加 */
}

.profile-details {
  text-align: center; /* 詳細情報を中央揃えにする */
  margin-bottom: 20px;
}

.separator {
  border-top: 2px solid #007bff;
  margin: 20px 0; 
}

.profile-details p {
  font-size: 16px;
  color: #333333;
}

.uploaded-images {
  margin-top: 20px;
}

.uploaded-images h2 {
  color: #007bff;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.uploaded-images .title-underline {
  width: 100%;
  height: 2px;
  background-color: #007bff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 自動調整グリッド */
  gap: 10px;
}

.card__wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  width: 100%;
  height: auto; /* 高さを自動調整 */
  max-height: 200px; /* 画像の最大高さを設定 */
  object-fit: cover; /* 画像のサイズを維持しつつフィット */
}

.card__body {
  padding: 10px;
  text-align: center;
}

.card__title {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.card__summary {
  font-size: 14px;
  color: #666;
}

.edit-profile-link,
.edit-post-link {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ffffffff;
  color: #007bff; 
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px; /* 小さめのフォントサイズ */
  transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーション */
}

.edit-profile-link:hover,
.edit-post-link:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
  color: #333; /* ホバー時の文字色 */
}

/* 最新の投稿セクション全体のスタイル */


.btn.btn-primary {
  display: flex; /* Flexboxレイアウトを有効に */
  position: absolute;
  top: 55px; /* 地図の上部に10pxの余白を追加 */
  right: 10px; /* 左側に10pxの余白を追加 */
  z-index: 1000; /* ボタンが地図の上に表示されるようにする */
  align-items: center; /* ボタン内のテキストを中央に揃える */
  justify-content: center; /* ボタン内のテキストを中央に揃える */
  padding: 10px 20px; /* ボタンのパディングを追加 */
  background-color: #ffffff; /* ボタンの背景色を設定 */
  border: none; /* ボタンの境界線を削除 */
  border-radius: 5px; /* ボタンの角を丸くする */
  cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
  font-weight: bold;
}

.btn.btn-primary:hover {
  background-color: #666; /* ホバー時の背景色を変更 */
}

.map-container {
  position: relative;
  width: 100%;

}


#latest-posts-section {
  display: none; /* デフォルトで非表示にする */
  background-color: #f9f9f9; /* 背景色を設定 */
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 500px;
  max-height: calc(100vh - 30px); /* 最大高さを設定 */
  overflow-y: auto; /* 縦方向にスクロール可能にする */
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* カラムの最小サイズを250pxに設定 */
  gap: 20px;
}

.card__wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s; /* トランジションを追加 */
}

.card__wrapper:hover {
  transform: translateY(-5px); /* ホバー時に少し浮かせる */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* ホバー時のボックスシャドウ */
}

.card__img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.card__body {
  padding: 15px;
  text-align: center;
}

.card__title {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
  font-weight: bold;
}

.card__summary {
  font-size: 16px;
  color: #666;
}

.card__author {
  font-size: 14px;
  color: #007bff;
  margin-top: 10px;
}

.card__author a {
  text-decoration: none;
  color: #007bff;
}

.card__author a:hover {
  text-decoration: underline;
}

/* セクションタイトルのスタイル */
#latest-posts-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

#latest-posts-section h2::after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #008cba; /* アンダーラインの色を設定 */
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* モーダルウィンドウ */
.image-modal {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* サインイン画面 */
.container {
  width: 400px; /* コンテナの幅を広くする */
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dfe3e6;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color:#007bff;
}

.field {
  margin-bottom: 15px;
}

.field label {
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field input[type="email"],
.field input[type="password"],
.field input[type="text"] {
  width: 100%; /* 入力フィールドの幅を100%にする */
  padding: 10px;
  border: 1px solid #dfe3e6;
  border-radius: 5px;
  box-sizing: border-box;
}

.actions {
  text-align: center;
}

.actions input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link p {
  font-size: 14px;
  color: #ffffff;
}

.signup-link a {
  color: #ffffff;
}

.signup-link a:hover {
  text-decoration: underline;
}



/* ログイン画面 */
.login-page {
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white; /* 文字の色を白に設定 */
}

.login-container {
  background: rgba(0, 0, 0, 0); /* フォーム背景を半透明に設定 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  z-index: 100;
}

.login-form {
  text-align: center;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white; /* 見出しの色を白に設定 */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px; /* 角丸を設定してフィールドをくっつける */
}


.form-group .login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-group .login-button:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 15px;
}

.signup-link a:hover {
  text-decoration: underline;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  transition: 0.5s;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}


/* 投稿詳細画面 */
.post-detail-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

.post-header {
  text-align: center;
  margin-bottom: 20px;
}

.post-title {
  font-size: 3em;
  margin: 0;
}

.post-author {
  font-size: 1.2em;
  color: #666;
}

.post-image img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
}

.post-content {
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 40px;
}

.post-map {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
}

.comments-section {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.comments {
  margin-bottom: 20px;
}

.comment {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.comment:last-child {
  border-bottom: none;
}

.comment-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #0056b3;
}